---
title: UX desing stack
---
<div class="container">
  <select id="team-select">
  </select>

  <h1 class="title back">User Experience 
    <br>Design Stack 
    <br><span id="username"> </span>
  </h1>
  

  <div class="row front align-flex vertical">
    <div id="chart-container" class="col-4" style="width:50%; height:300px;">
    <!-- Put highcharts in here.-->
    </div>
    <div class="col-8" id="categories-container">
    </div>
  </div>
</div>
