---
title: UX desing stack
---
<div class="container">
  <h1 class="title back">User Experience 
    <br>Design Stack 
    <br><span id="username"> </span>
  </h1>

  <div class="row front align-flex vertical">
    <div class="col-4">
    <!-- Put highcharts in here.-->
    <image src="images/chart.svg">
    </div>
    <div class="col-8">
      <div class="separation-top row align-flex vertical">
        <p class="info-title col-2">Strategy</p>
        <div class="row info text-center col-10">
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>Discovery Workshop Facilitator</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>Customer research interviews</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>Customer testing interviews</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>UX/IX/UI Benchmark research</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>Problem & opportunity definition</p>
            </div>
          </div>
        </div>
      </div>

      <div class="align-flex vertical separation-top row">
        <p class="info-title col-2">Scope</p>
        <div class="row info text-center col-10">
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>How may we notes clustering & prioritizing</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-tiny"></div>
              </div>
              <p>User story mapping facilitator</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-small"></div>
              </div>
              <p>User story redaction with acceptance criteria</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>Complexity estimating with devs</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>Scope negotiation with customer</p>
            </div>
          </div>
        </div>
      </div>

      <div class="align-flex vertical separation-top row">
        <p class="info-title col-2">Structure</p>
        <div class="row info text-center col-10">
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>Applied information Architecture</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage"></div>
              </div>
              <p>Low-fi wireframing</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>Customer journey mapping</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>Crazy 8's & paper sketches</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>Prototype storyboarding</p>
            </div>
          </div>
        </div>
      </div>

      <div class="align-flex vertical separation-top row">
        <p class="info-title col-2">Skeleton</p>
        <div class="row info text-center col-10">
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>Interaction patterns and flow design</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage"></div>
              </div>
              <p>Hi-fi wireframing & prototyping</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>Grid system proper usage</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>Successful navigation system</p>
            </div>
          </div>
        </div>
      </div>

      <div class="align-flex vertical separation-top row">
        <p class="info-title col-2">Surface</p>
        <div class="row info text-center col-10">
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>Hi-fi mockups design & prototyping</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>Animated UI prototyping</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>Web app design best practices</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-mid"></div>
              </div>
              <p>IOs design best practices</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage porcentage-small"></div>
              </div>
              <p>Android design best practices</p>
            </div>
          </div>
          <div class=col-2>
            <div class="info-single align-flex is-column center">
              <div class="circle-container align-flex vertical">
                <div class="porcentage"></div>
              </div>
              <p>UI library design & management</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
